HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

application*.properties
src/main/resources/application.properties
out/
!**/src/main/**/out/
!**/src/test/**/out/

src/main/java/AlexBorzilov/newsfeed/dto/PutUserDto.java
src/main/java/AlexBorzilov/newsfeed/controller/UserController.java
src/main/java/AlexBorzilov/newsfeed/view/
src/main/java/AlexBorzilov/newsfeed/response/PutUserDtoResponse.java